body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0debeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.login-form {
    background-color: rgb(159, 209, 214);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 3px solid #101010;
    border-radius: 4px;
}

.login-btn {
    background-color: #007bff;
    color: rgb(168, 157, 245);
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
